{{#project}}
  <h1>{{title}}</h1>
    <div>
      <h3>Due on: {{end_date}}</h3>
      <h3>Days left: </h3>
      <h3>Current word count: {{current_word_count}}</h3>
      <h3>Words remaining: </h3>
      <h3>Words per day to finish on time</h3>
      <h3>Hours worked so far: {{hours_worked}}</h3>
      <h3>Estimated hours remaining</h3>
    </div>
{{/project}}
