$margin: 20px;
$font-family: 'Open Sans Condensed', sans-serif;
$letter-spacing: 1em;
$text-size: 1em;

body {
  font-family: $font-family;
  letter-spacing: $letter-spacing * .5
}

#header {
  text-align: center;
  margin: $margin * 2;
  margin-top: $margin * 5;
    h1{
      letter-spacing: $letter-spacing;
      font-size: $text-size * 2;
  }
  button{
      text-align: right;
      float: right;
  }
}

#logo {
  display: inline-block;
  height: 70px;
  width: 70px;
}

#page-title {
  display: inline-block;
}

.before-sign-in {
  text-align: center;
}

#sign-up,
#sign-in {
  text-align: center;
  margin: $margin * 2
}

#content,
#change-password,
#create {
  text-align: center;
  padding: 20px;
  width: 60%;
  margin: 40px auto;
  border-radius: 10px;
}

#show-all {
  text-align: center;
}

button {
  box-shadow: 3px 4px 0px 0px #899599;
  background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
  background-color:#ededed;
  padding:7px 25px;
  border:1px solid #d6bcd6;
  border-radius: 5px;
  margin: $margin * .5;
  letter-spacing: $letter-spacing * .3;
  font-size: $text-size;
}

input {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	padding:6px 24px;
	text-shadow:0px 1px 0px #ffffff;
}

#project-info {
  ul {
    list-style-type: none;
    li {
      text-align: left;
      p{
        line-height: 1.4;
        font-size: $text-size * 1.4;
      }
      form {
        display: inline-block;
    }
    .form {
      display: inline-block;
    }
    }
  }
}
